.offer__title {
  margin-top: 40px;
  font-size: 22px;
  margin-left: 20px;
  font-weight: 600;
}

.offers {
  margin-left: 35px;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 35px;
}

.offer__card {
  height: 370px;
  width: 400px;
  border: 1px solid gainsboro;
}

.offer__card > img {
  border: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 220px;
  width: 400px;
}

.offer__card > p {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}

.offer__card > h6 {
  margin-left: 10px;
  font-size: 14px;
}

.offer__card > button {
  background-color: white;
  color: Black;
  border: 1px solid black;
  border-radius: 20px;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  width: 90px;
  margin-left: 300px;
}
