.slider {
  margin-top: 110px;
}


.today-deals-title {
  margin-top: 40px;
  font-size: 22px;
  margin-left: 20px;
  font-weight: 600;
}

.todayDeals {
  margin-left: 35px;
}

.carousel__card {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 250px;
  margin-top: 20px;
}

.carousel__image > img {
  border-radius: 10px;
  height: 180px;
  width: 220px;
}

.carousel__details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
}

.carousel__title {
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .carousel {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  .carousel__card {
    width: 200px;
    height: 300px;
    margin-left: 0px;
  }

  .carousel__image > img {
    height: 150px;
    width: 150px;
  }

  .carousel__details {
    padding: 10px;
  }

  .carousel__title {
    font-size: 20px;
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  .slider__img > img {
    height: 250px;
    width: 100% k;
  }

  .slider {
    width: 100%;
  }
}
